/$tf1/*
.vs/
*.vssscc 
*.vspscc 
.tfignore
.editorconfig
*.sln.*
*.iobj
*.ipdb
*.bin
whatsapp*.*
*.user
publish/ 

mrb_lock/
V1 [6-18-2011]/
V1[6-18-2011]/
ConsoleControl/
DiskSpace/
New folder/

*.xml


bin/
obj/
Debug/
Release/
TestAndDebug/
TestAdnDebug/
tools/
cloc/
.PCMReports/
video/
resources/
rovilib/
 

lock.cs

*_files/
*.bak
*.rar
*.exe
*.docx
*.pdf
*.pdb
* - Copy.*
 
DLL/*.pdb
dll/*.exe
dll/*.xml
dll/armadillo/New Folder/
dll/MKL/*
devexpress.*.dll
devexpress.*.xml

/Documents/
/Doc/
Setup/ 
packages/
images/
protect/
Verifications/   
TestResults/


